:root {
    // colors
    --white: #f8f8ff;
    --black: #1F2937;
    --gray: #D1D5DB;
    // fonts
    --font: 'Inter', sans-serif;
    // box shadows
    --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}