@use '../util/' as u;

.palette {
    .color__img {
        width: 100%;
        height: 200px;

        @include u.for-tablet-up {
            height: 550px;
        }

    }

    .color__code {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 2;
        padding: 0.75em 0;
    }

    @include u.for-tablet-up {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

#color1 .color__img {background-color: red;};
#color2 .color__img {background-color: green;};
#color3 .color__img {background-color: blue;};
#color4 .color__img {background-color: yellow;};
#color5 .color__img {background-color: violet;};
